In [1]:
import findspark
findspark.init("C:/spark")
import pyspark 
findspark.find()

'C:/spark'

## QST1

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
spark = SparkSession.builder.master("local").appName("FolksDF").getOrCreate()

## QST2

In [3]:
DF=spark.read.option("header",True).csv('walmart_stock.csv')

In [4]:
DF.show()

+----------+------------------+------------------+------------------+------------------+--------+------------------+
|      Date|              Open|              High|               Low|             Close|  Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
|2012-01-03|         59.970001|         61.060001|         59.869999|         60.330002|12668800|52.619234999999996|
|2012-01-04|60.209998999999996|         60.349998|         59.470001|59.709998999999996| 9593300|         52.078475|
|2012-01-05|         59.349998|         59.619999|         58.369999|         59.419998|12768200|         51.825539|
|2012-01-06|         59.419998|         59.450001|         58.869999|              59.0| 8069400|          51.45922|
|2012-01-09|         59.029999|         59.549999|         58.919998|             59.18| 6679300|51.616215000000004|
|2012-01-10|             59.43|59.709998999999996|             58.98|59.040001000000004| 6907300|         51.494109|
|2012-01-11|         59.060001|         59.529999|59.040001000000004|         59.400002| 6365600|         51.808098|
|2012-01-12|59.790001000000004|              60.0|         59.400002|              59.5| 7236400|51.895315999999994|
|2012-01-13|             59.18|59.610001000000004|59.009997999999996|59.540001000000004| 7729300|51.930203999999996|
|2012-01-17|         59.869999|60.110001000000004|             59.52|         59.849998| 8500000|         52.200581|
|2012-01-18|59.790001000000004|         60.029999|         59.650002|60.009997999999996| 5911400|         52.340131|
|2012-01-19|             59.93|             60.73|             59.75|60.610001000000004| 9234600|         52.863447|
|2012-01-20|             60.75|             61.25|         60.669998|61.009997999999996|10378800|53.212320999999996|
|2012-01-23|         60.810001|             60.98|60.509997999999996|             60.91| 7134100|         53.125104|
|2012-01-24|             60.75|              62.0|             60.75|61.389998999999996| 7362800| 53.54375400000001|
|2012-01-25|             61.18|61.610001000000004|61.040001000000004|         61.470001| 5915800| 53.61353100000001|
|2012-01-26|         61.799999|             61.84|             60.77|         60.970001| 7436200|         53.177436|
|2012-01-27|60.860001000000004|         61.119999|60.540001000000004|60.709998999999996| 6287300|         52.950665|
|2012-01-30|         60.470001|             61.32|         60.349998|         61.299999| 7636900|53.465256999999994|
|2012-01-31|         61.529999|             61.57|         60.580002|61.360001000000004| 9761500|53.517590000000006|
+----------+------------------+------------------+------------------+------------------+--------+------------------+
only showing top 20 rows

## QST3

In [5]:
DF.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

## QST4

In [6]:
DF.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

## QST5

In [14]:
DF2=DF.withColumn("HV_Ratio",F.col("High")/F.col("Volume"))
DF2.show(2)

+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|            HV_Ratio|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
only showing top 2 rows

In [18]:
DF.createOrReplaceTempView("DFSQL")
spark.sql(""" 
select *, High/Volume as HV_Ratio 
from DFSQL""").show(2)

+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|            HV_Ratio|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996|4.819714653321546E-6|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475|6.290848613094555E-6|
+----------+------------------+---------+---------+------------------+--------+------------------+--------------------+
only showing top 2 rows

## QST6

In [19]:
DF2.orderBy(F.col("High").desc()).select(F.col("Date")).head(1)

[Row(Date='2015-01-13')]

In [21]:
spark.sql("""
select Date 
from DFSQL
order by High desc""").show(1)

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+
only showing top 1 row

## QST7

In [45]:
DF2.select(F.mean('Close').alias('moyenne')).show()

+-----------------+
|          moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

In [53]:
DF2.agg(F.mean(F.col('Close'))).show()

+-----------------+
|       avg(Close)|
+-----------------+
|72.38844998012726|
+-----------------+

In [38]:
spark.sql("""
select avg(Close) as moyenne
from DFSQL""").show()

+-----------------+
|          moyenne|
+-----------------+
|72.38844998012726|
+-----------------+

## QST8

In [54]:
DF2.agg(F.min(F.col('Volume')).alias('minimum'),F.max(F.col('Volume')).alias('maximum')).show()

+--------+-------+
| minimum|maximum|
+--------+-------+
|10010500|9994400|
+--------+-------+

In [56]:
spark.sql("""
select max(Volume) as maximum, min(Volume) as minimum
from DFSQL
""").show()

+-------+--------+
|maximum| minimum|
+-------+--------+
|9994400|10010500|
+-------+--------+

## QST9

In [69]:
spark.sql("""
select count(Date) as N_Days
from DFSQL
where Close < 60
""").show()

+------+
|N_Days|
+------+
|    81|
+------+

In [81]:
DF2.filter(F.col('Close')<60).select(F.count(F.col('Date')).alias('N_Days')).show()

+------+
|N_Days|
+------+
|    81|
+------+

## QST10

In [110]:
spark.sql("""
SELECT ROUND((SELECT COUNT(High) FROM DFSQL WHERE High > 80)*100/COUNT(High), 2) as freq FROM DFSQL
""").show()

+----+
|freq|
+----+
|8.43|
+----+

In [109]:
DF.filter(F.col('High')>80).select(F.round((F.count(F.col('Date'))*100/DF.count()),2).alias('freq')).show()

+----+
|freq|
+----+
|8.43|
+----+

## QST11

In [112]:
DF = DF.withColumn('years',F.year(F.to_timestamp('Date', 'yyyy-MM-dd')))
DF.show(2)

+----------+------------------+---------+---------+------------------+--------+------------------+-----+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|years|
+----------+------------------+---------+---------+------------------+--------+------------------+-----+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996| 2012|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475| 2012|
+----------+------------------+---------+---------+------------------+--------+------------------+-----+
only showing top 2 rows

In [116]:
DF.groupBy(F.col('years')).agg(F.max(F.col('High')).alias('maximum par an')).show()

+-----+--------------+
|years|maximum par an|
+-----+--------------+
| 2015|     90.970001|
| 2013|     81.370003|
| 2014|     88.089996|
| 2012|     77.599998|
| 2016|     75.190002|
+-----+--------------+

In [124]:
DF.createOrReplaceTempView("DFSQL")
spark.sql("""
select years, max(High) as maximum
from DFSQL
group by years""").show()

+-----+---------+
|years|  maximum|
+-----+---------+
| 2015|90.970001|
| 2013|81.370003|
| 2014|88.089996|
| 2012|77.599998|
| 2016|75.190002|
+-----+---------+

## QST12

In [122]:
DF = DF.withColumn('month',F.month(F.to_timestamp('Date', 'yyyy-MM-dd')))
DF.show(2)

+----------+------------------+---------+---------+------------------+--------+------------------+-----+-----+
|      Date|              Open|     High|      Low|             Close|  Volume|         Adj Close|years|month|
+----------+------------------+---------+---------+------------------+--------+------------------+-----+-----+
|2012-01-03|         59.970001|61.060001|59.869999|         60.330002|12668800|52.619234999999996| 2012|    1|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996| 9593300|         52.078475| 2012|    1|
+----------+------------------+---------+---------+------------------+--------+------------------+-----+-----+
only showing top 2 rows

In [125]:
DF.groupBy(F.col('month')).agg(F.mean(F.col('Close')).alias('moyenne par an')).show()

+-----+-----------------+
|month|   moyenne par an|
+-----+-----------------+
|   12|72.84792478301885|
|    1|71.44801958415842|
|    6| 72.4953774245283|
|    3|71.77794377570092|
|    5|72.30971688679247|
|    9|72.18411785294116|
|    4|72.97361900952382|
|    8|73.02981855454546|
|    7|74.43971943925233|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|    2|  71.306804443299|
+-----+-----------------+

In [126]:
DF.createOrReplaceTempView("DFSQL")
spark.sql("""
select month, mean(Close) as moyenne
from DFSQL
group by month""").show()

+-----+-----------------+
|month|          moyenne|
+-----+-----------------+
|   12|72.84792478301885|
|    1|71.44801958415842|
|    6| 72.4953774245283|
|    3|71.77794377570092|
|    5|72.30971688679247|
|    9|72.18411785294116|
|    4|72.97361900952382|
|    8|73.02981855454546|
|    7|74.43971943925233|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|    2|  71.306804443299|
+-----+-----------------+